<article class="list-animals">
    

    <!-- <p>
        ejemplo renderizacion bidireccional
    </p>-->
<!--    <p>
    <input type="text" ng-model="animalsList.animalBuscado">
    {{animalsList.animalBuscado}}
    </p>


     <p>
    <input type="date" ng-model="animalsList.fecha">
    {{animalsList.fecha}}
    </p>

     <p>Pepito
    <input type="radio" ng-model="animalsList.radio" value="pepito">
    
    Maria
    <input type="radio" ng-model="animalsList.radio" value="maria">
    {{animalsList.radio}}
    </p>


 
    <p>
        <select ng-model="animalsList.combo" >
            <option value="1">Soy el uno</option>
             <option value="2">Soy el dos</option>
            <option value="3">Soy el tres</option>          
       </select>
        {{animalsList.combo}}
    </p>-->

    <!-- <p>
        <input type="text" 
        ng-model="animalsList.filterCriteria" 
        ng-keypress="animalsList.filterAnimals()">
    </p>-->
    <animals-card
    ng-repeat="item in animalsList.allAnimals" 
    item-animal="item"
    ng-click="animalsList.goToDetail(item.id)"
    >
    </animals-card>
    <div>
        <button ng-click="animalsList.sortList('up')">Up</button> - 
        <button ng-click="animalsList.sortList('down')">Down</button
    </div>
</article>