<article>
    <div class="msg-error" 
    ng-show="viewAdd.showMsg">RELLENA LOS CAMPOS!!!!</div>
    <p>
         <label for="userName">
           Nombre de Usuario:
        </label>
        <input 
        type="text" 
        id="userName" 
        ng-model="viewAdd.userName"
        ng-class="{ 'has-error': !viewAdd.userName && viewAdd.formIsSend }"
        >
       
    </p>
    <p>
           <label for="userEmail">
            Direccion de e-mail:
        </label>
        <input 
        type="text" 
        id="userEmail" 
        ng-model="viewAdd.userEmail"
        ng-class="{ 'has-error': !viewAdd.userEmail && viewAdd.formIsSend }"
        >
     
    </p>
    <p>
          <label for="userImg">
            Selecciona un Avatar:
        </label>
       <input type="radio" 
        id="userImg" 
        ng-model="viewAdd.userImg"
        value="app/styles/imgs/avatar1.jpg"
        ng-class="{ 'has-error': !viewAdd.userImg && viewAdd.formIsSend }"
        ><img  ng-src="app/styles/imgs/avatar1.jpg">
            
             <input type="radio" 
        id="userImg" 
        ng-model="viewAdd.userImg"
        value="app/styles/imgs/avatar2.jpg"
        ng-class="{ 'has-error': !viewAdd.userImg && viewAdd.formIsSend }"
        ><img  ng-src="app/styles/imgs/avatar2.jpg">     
     
             <input type="radio" 
        id="userImg" 
        ng-model="viewAdd.userImg"
        value="app/styles/imgs/avatar3.jpg"
        ng-class="{ 'has-error': !viewAdd.userImg && viewAdd.formIsSend }"
        ><img  ng-src="app/styles/imgs/avatar3.jpg">
    </p> 
    <p>
        <button ng-click="viewAdd.addUser()">
            Crear
        </button>
    </p>
</article>