<article>
    

 <form name="userForm">     

<p>
    <label for="name"> Introduce Nombre:</label>
    <input name="name" type="text" ng-model="viewAdd.animalname" >
    <!--<span style="color:red" ng-show="userForm.$dirty &amp;&amp; userForm.$invalid">
<span ng-show="userForm.$error.required">El nombre de usuario es requerido.</span>
</span>-->
  <br />
   



   <label for="img">  Introduce imagen:</label>
    <input name="img" type="text" ng-model="viewAdd.animalimg" >
     
   <br />
   
    <label for="typ">  Selecciona Tipo :</label>
      <select name="typ" ng-model="viewAdd.combo" >
            <option value="mamiferos">Manifero</option>
             <option value="aves">Ave</option>                    
       </select>
  <br />
    
    <button ng-click="viewAdd.addAnimal()">
        Añadir
    </button>
<br />
</p>
</form>

</article>