<article>
    
    <p>
    Introduce Nombre: <input type="text" ng-model="viewAdd.animalname">
    {{animalsList.animalname}}
    </p>
    <p>
    Introduce imagen: <input type="text" ng-model="viewAdd.animalimg">
    {{animalsList.animalimg}}
    </p>
    <p>
      Selecciona Tipo : <select ng-model="viewAdd.combo" >
            <option value="mamiferos">Manifero</option>
             <option value="aves">Ave</option>                    
       </select>
        {{animalsList.combo}}
    </p>
    
    <button ng-click="viewAdd.addAnimal()">
        Añadir
    </button>
</article>